# Зависимости
node_modules/
/.pnp
.pnp.js

# Тестирование
/coverage

# Next.js
/.next/
/out/

# Продакшн
/build

# Разное
.DS_Store
*.pem

# Отладочные логи
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Локальные env файлы
.env*.local
.env

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# IDE
.vscode/
.idea/
*.swp
*.swo

